.inner-page {
  max-width: 1440px;
  margin: auto;
}

.page-hero {
  min-height: 75vh;
  padding: 100px var(--pad);
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-hero h1 {
  font-family: "Syne", sans-serif;
  font-size: clamp(68px, 10vw, 155px);
  line-height: .85;
  letter-spacing: -.075em;
  font-weight: 600;
}

.page-hero h1 em {
  font-style: italic;
  font-weight: 400;
}

.page-hero p {
  max-width: 500px;
  font-size: 17px;
  line-height: 1.65;
  align-self: end;
}

.work-item {
  padding: 120px var(--pad);
}

.work-number {
  font-family: "DM Mono", monospace;
  font-size: 12px;
  margin-bottom: 25px;
}

.work-browser {
  background: var(--clay);
  padding: 15px;
}

.work-browser .browser-bar {
  height: 45px;
}

.work-browser-content {
  min-height: 650px;
  background: var(--warm-white);
  padding: 10vw 8vw;
}

.work-browser-content small,
.work-info span,
.tags span,
.work-note span {
  font-family: "DM Mono", monospace;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--muted);
}

.work-browser-content h2 {
  font-family: "Syne", sans-serif;
  font-size: clamp(60px, 9vw, 130px);
  line-height: .83;
  letter-spacing: -.075em;
  margin: 35px 0 50px;
}

.work-browser-content h2 em {
  font-style: italic;
  font-weight: 400;
}

.fake-cta {
  display: inline-block;
  border: 1px solid var(--ink);
  padding: 13px 18px;
  font-family: "DM Mono", monospace;
  font-size: 12px;
}

.work-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-top: 28px;
}

.work-info h2 {
  font-family: "Syne", sans-serif;
  font-size: 35px;
  margin-top: 8px;
}

.work-info p {
  font-size: 15px;
  max-width: 430px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.tags span {
  border: 1px solid var(--border);
  padding: 8px 10px;
}

.work-note {
  border-top: 1px solid var(--border);
  padding: 80px var(--pad) 140px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work-note p {
  max-width: 400px;
  font-size: 15px;
}

@media(max-width:800px) {
  .page-hero {
    min-height: 65vh;
    padding-top: 70px;
  }

  .page-hero p {
    align-self: start;
    margin-top: 50px;
  }

  .work-item {
    padding-top: 75px;
  }

  .work-browser-content {
    min-height: 480px;
    padding: 70px 30px;
  }

  .work-browser-content h2 {
    font-size: clamp(48px, 14vw, 75px);
  }

  .work-info {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .work-note {
    display: block;
  }

  .work-note p {
    margin-top: 25px;
  }
}
